:root {
  --color-bg-1: #0e1411;
  --color-bg-2: #1b2925;
  --color-bg-3: #2a3d38;
  --color-bg-4: #3c5a4b;

  --color-text: #d4f0e4;
  --color-h1: #a8f0c6;

  --color-accent-1: #163c26;
  --color-accent-2: #1f4930;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2, h3, h4, h5, h6, p, span, a, div, button, input {
  color: var(--color-text);
}

h1 {
  color: var(--color-h1);
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--color-bg-1);
}
